#masthead {
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: black;
	background: orange;
	border-bottom: 2px solid grey;
	font-family: Arial;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

nav {
	float: right;
	margin: top 25px;
}

nav a {
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: black;
	text-decoration: none;
	border-left: 1px solid black;
}

nav: first-child {
border-left: 0 none;
}

#main-container {
	padding-top: 130px;
}

.main-section {
	float: left;
	width: 100%;
	max-width: 650px;
	padding: 30px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd;
}

.auth-image {
	float: left;
	width: 200px;
	margin-top: 10px;
	margin-right: 25px;
}

.sidebar {
	float: right;
	width: 100%;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;
	background-color: yellow;
	border: 1px solid yellow;
}

h3, .sidebar h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid yellow;
}

.social {
	width: 110px;
	height: 100px;
	margin-top: 8px;
	margin-right: 5px;
}
.work {
	position: relative;
	float: left;
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
}

footer {
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	color: purple;
	text-align: center;
	background-color: black;
	border-top: 8px solid orange;
}